@use "../../styles//mixins" as *;
@use "../../styles/variables" as *;

.input-component {
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  &:focus {
    box-shadow: 2px 0px 15px -8px #000000;
  }
}

.input-component--error {
  box-shadow: 3px 3px 15px 2px rgba(230, 11, 11, 0.61);
  &:focus {
    box-shadow: 3px 3px 15px 2px rgba(230, 11, 11, 0.61);
  }
}
